/* Colors */
:root {
  --white        : #ffffff;
  --white-50     : #ffffff80;
  --black        : #000000;
  --black-50     : #00000080;
  --pink-variant1: #EF519D;
}


/* Font Size */
:root {
  --size-1   : 0.052vw;
  --size-2   : 0.104vw;
  --size-3   : 0.156vw;
  --size-4   : 0.208vw;
  --size-5   : 0.26vw;
  --size-6   : 0.313vw;
  --size-7   : 0.365vw;
  --size-8   : 0.417vw;
  --size-9   : 0.469vw;
  --size-10  : 0.521vw;
  --size-11  : 0.573vw;
  --size-12  : 0.625vw;
  --size-13  : 0.677vw;
  --size-14  : 0.729vw;
  --size-15  : 0.781vw;
  --size-16  : 0.833vw;
  --size-17  : 0.885vw;
  --size-18  : 0.938vw;
  --size-19  : 0.99vw;
  --size-20  : 1.042vw;
  --size-21  : 1.094vw;
  --size-22  : 1.146vw;
  --size-23  : 1.198vw;
  --size-24  : 1.25vw;
  --size-25  : 1.302vw;
  --size-26  : 1.354vw;
  --size-27  : 1.406vw;
  --size-28  : 1.458vw;
  --size-29  : 1.51vw;
  --size-30  : 1.563vw;
  --size-31  : 1.615vw;
  --size-32  : 1.667vw;
  --size-33  : 1.719vw;
  --size-34  : 1.771vw;
  --size-35  : 1.823vw;
  --size-36  : 1.875vw;
  --size-37  : 1.927vw;
  --size-38  : 1.979vw;
  --size-39  : 2.031vw;
  --size-40  : 2.083vw;
  --size-41  : 2.135vw;
  --size-42  : 2.188vw;
  --size-43  : 2.24vw;
  --size-44  : 2.292vw;
  --size-45  : 2.344vw;
  --size-46  : 2.396vw;
  --size-47  : 2.448vw;
  --size-48  : 2.5vw;
  --size-49  : 2.552vw;
  --size-50  : 2.604vw;
  --size-55  : 2.865vw;
  --size-60  : 3.125vw;
  --size-65  : 3.385vw;
  --size-70  : 3.646vw;
  --size-77  : 4.01vw;
  --size-80  : 4.167vw;
  --size-90  : 4.688vw;
  --size-96  : 5vw;
  --size-100 : 5.208vw;
  --size-108 : 5.625vw;
  --size-110 : 5.729vw;
  --size-120 : 6.25vw;
  --size-130 : 6.771vw;
  --size-140 : 7.292vw;
  --size-150 : 7.813vw;
  --size-160 : 8.333vw;
  --size-165 : 8.594vw;
  --size-170 : 8.854vw;
  --size-180 : 9.375vw;
  --size-188 : 9.792vw;
  --size-190 : 9.896vw;
  --size-200 : 10.417vw;
  --size-206 : 10.729vw;
  --size-210 : 10.938vw;
  --size-220 : 11.458vw;
  --size-230 : 11.979vw;
  --size-238 : 12.396vw;
  --size-240 : 12.5vw;
  --size-250 : 13.021vw;
  --size-260 : 13.542vw;
  --size-270 : 14.063vw;
  --size-280 : 14.583vw;
  --size-282 : 14.688vw;
  --size-290 : 15.104vw;
  --size-300 : 15.625vw;
  --size-310 : 16.146vw;
  --size-320 : 16.667vw;
  --size-330 : 17.188vw;
  --size-340 : 17.708vw;
  --size-350 : 18.229vw;
  --size-360 : 18.75vw;
  --size-370 : 19.271vw;
  --size-380 : 19.792vw;
  --size-390 : 20.313vw;
  --size-396 : 20.625vw;
  --size-400 : 20.833vw;
  --size-410 : 21.354vw;
  --size-420 : 21.875vw;
  --size-430 : 22.396vw;
  --size-440 : 22.917vw;
  --size-450 : 23.438vw;
  --size-460 : 23.958vw;
  --size-470 : 24.479vw;
  --size-474 : 24.688vw;
  --size-480 : 25vw;
  --size-490 : 25.521vw;
  --size-500 : 26.042vw;
  --size-520 : 27.083vw;
  --size-530 : 27.604vw;
  --size-550 : 28.646vw;
  --size-567 : 29.531vw;
  --size-600 : 31.25vw;
  --size-668 : 34.792vw;
  --size-777 : 40.469vw;
  --size-830 : 43.229vw;
  --size-850 : 44.271vw;
  --size-900 : 46.875vw;
  --size-1198: 62.396vw;
  --size-1450: 75.521vw;
}

@media screen and (max-width:1024px) {
  :root {
    --size-1   : 1px;
    --size-2   : 2px;
    --size-3   : 3px;
    --size-4   : 4px;
    --size-5   : 5px;
    --size-6   : 6px;
    --size-7   : 7px;
    --size-8   : 8px;
    --size-9   : 9px;
    --size-10  : 10px;
    --size-11  : 11px;
    --size-12  : 12px;
    --size-13  : 13px;
    --size-14  : 14px;
    --size-15  : 15px;
    --size-16  : 16px;
    --size-17  : 17px;
    --size-18  : 18px;
    --size-19  : 19px;
    --size-20  : 20px;
    --size-21  : 21px;
    --size-22  : 22px;
    --size-23  : 23px;
    --size-24  : 24px;
    --size-25  : 25px;
    --size-26  : 26px;
    --size-27  : 27px;
    --size-28  : 28px;
    --size-29  : 29px;
    --size-30  : 30px;
    --size-31  : 31px;
    --size-32  : 32px;
    --size-33  : 33px;
    --size-34  : 34px;
    --size-35  : 35px;
    --size-36  : 36px;
    --size-37  : 37px;
    --size-38  : 38px;
    --size-39  : 39px;
    --size-40  : 40px;
    --size-41  : 41px;
    --size-42  : 42px;
    --size-43  : 43px;
    --size-44  : 44px;
    --size-45  : 45px;
    --size-46  : 46px;
    --size-47  : 47px;
    --size-48  : 48px;
    --size-49  : 49px;
    --size-50  : 50px;
    --size-55  : 55px;
    --size-60  : 60px;
    --size-65  : 65px;
    --size-70  : 70px;
    --size-77  : 77px;
    --size-80  : 80px;
    --size-90  : 90px;
    --size-96  : 96px;
    --size-100 : 100px;
    --size-108 : 108px;
    --size-110 : 110px;
    --size-120 : 120px;
    --size-130 : 130px;
    --size-140 : 140px;
    --size-150 : 150px;
    --size-160 : 160px;
    --size-165 : 165px;
    --size-170 : 170px;
    --size-180 : 180px;
    --size-188 : 188px;
    --size-190 : 190px;
    --size-200 : 200px;
    --size-206 : 206px;
    --size-210 : 210px;
    --size-220 : 220px;
    --size-230 : 230px;
    --size-238 : 238px;
    --size-240 : 240px;
    --size-250 : 250px;
    --size-260 : 260px;
    --size-270 : 270px;
    --size-280 : 280px;
    --size-282 : 282px;
    --size-290 : 290px;
    --size-300 : 300px;
    --size-310 : 310px;
    --size-320 : 320px;
    --size-330 : 330px;
    --size-340 : 340px;
    --size-350 : 350px;
    --size-360 : 360px;
    --size-370 : 370px;
    --size-380 : 380px;
    --size-390 : 390px;
    --size-396 : 396px;
    --size-400 : 400px;
    --size-410 : 410px;
    --size-420 : 420px;
    --size-430 : 430px;
    --size-440 : 440px;
    --size-450 : 450px;
    --size-460 : 460px;
    --size-470 : 470px;
    --size-474 : 474px;
    --size-480 : 480px;
    --size-490 : 490px;
    --size-500 : 500px;
    --size-520 : 520px;
    --size-600 : 600px;
    --size-530 : 530px;
    --size-550 : 550px;
    --size-567 : 567px;
    --size-668 : 668px;
    --size-777 : 777px;
    --size-830 : 830px;
    --size-850 : 850px;
    --size-900 : 900px;
    --size-1198: 1198px;
    --size-1450: 1450px;
  }
}